@import url('https://fonts.googleapis.com/css2?family=Stalinist+One&display=swap');
body{
background-image: url("fon.jpg");
            background-position : center, center;
            background-repeat: no-repeat;
}
.mini{
text-align:  center;
padding:center;
margin:2px;
border:2px solid black;
}